TARGET_URL=https://example.com/login
USERNAME_SELECTOR=#username
PASSWORD_SELECTOR=#password
LOGIN_BUTTON_SELECTOR=#submit
POST_LOGIN_LINK_SELECTOR=a#my-target-link

# Cron Schedule format: Minute Hour DayofMonth Month DayofWeek
# Example: "0 8 * * *" runs every day at 08:00 AM
CRON_SCHEDULE=0 8 * * *
