TARGET_URL=https://example.com/login
USERNAME_SELECTOR=#username
PASSWORD_SELECTOR=#password
LOGIN_BUTTON_SELECTOR=#submit
POST_LOGIN_LINK_SELECTOR=a#my-target-link
DATA_SELECTORS='{}'

NTFY_SERVER=
NTFY_TOPIC=
NTFY_USER=
NTFY_PASSWORD=

CRON_SCHEDULE=0 8 * * *